{% extends "base.html" %}
{% load media %}



{% block breadcrumbs %}{{ block.super }}{% endblock %}



{% block content %}

<div id="body">
{% block body %}{% endblock %}
<div class="clearer" style="clear: both;">&nbsp;</div>
</div><!-- /body -->

{% endblock %}



{% block sidebar %}

<div class="block">
  {% if request.user.is_authenticated %}
  <h3>{{ request.user.username }}</h3>
  <p>
  <a href="/accounts/logout/?next_page=/">Log out</a>
  </p>
  {% else %}
  <h3>You're not logged in</h3>
  <ul>
  <li><a href="/accounts/login/?next=/">Log in</a></li>
  <li><a href="/accounts/register/">Register</a></li>
  </ul>
  {% endif %}
  <div class="clearer"></div>
</div>

{% endblock %}
