{% extends "flog/base.html" %}
{% load media %}

{% block js %}
<script type="text/javascript" src="{% media "js/jquery.js" %}"></script>
<script type="text/javascript" src="{% media "js/jquery.sparkline.min.js" %}"></script>
<script type="text/javascript">
  $(function() {
    $('.weight').sparkline();
    $('.calories').sparkline();
    $('.sleep').sparkline();
    $('.coffee_cups').sparkline();
    $('.p1').sparkline();
  });
</script>
{% endblock js %}

{% block breadcrumbs %}{{ block.super }}
&raquo; <a href="../../../">flog</a>
&raquo; {{ today|date:"j M Y" }}
{% if yesterday %}<a href="../../../{{ yesterday|date:"Y/m/d" }}/">&lt;</a>{% else %}&lt;{% endif %}
{% if tomorrow %}<a href="../../../{{ tomorrow|date:"Y/m/d" }}/">&gt;</a>{% else %}&gt;{% endif %}
{% endblock %}

{% block content %}





<form name="entry" method="post" action="/flog/">
<input name="txt" id="id_txt" type="text" size="60"/>
<input type="submit" value="flog"/>
</form>

<table cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td> lb </td>
    <td> &nbsp; </td>
    <td align="right"> {% if day.weight_lbs %}{{ day.weight_lbs }}{% endif %} </td>
    <td> &nbsp; </td>
    <td> <span class="weight">{{ day.sparkline_weight|join:"," }}</span> </td>
  </tr>
  <tr>
    <td> cal </td>
    <td> &nbsp; </td>
    <td align="right"> {% if day.calories %}{{ day.calories }}{% endif %} </td>
    <td> &nbsp; </td>
    <td> <span class="calories">{{ day.sparkline_calories|join:"," }}</span> </td>
  </tr>
  <tr>
    <td> coffee </td>
    <td> &nbsp; </td>
    <td align="right"> {% if day.coffee_cups %}{{ day.coffee_cups }}{% endif %} </td>
    <td> &nbsp; </td>
    <td> <span class="coffee_cups">{{ day.sparkline_coffee_cups|join:"," }}</span> </td>
  </tr>
  <tr>
    <td> sleep </td>
    <td> &nbsp; </td>
    <td align="right"> {% if day.hours_slept %}{{ day.hours_slept }}{% endif %} </td>
    <td> &nbsp; </td>
    <td> <span class="sleep">{{ day.sparkline_sleep|join:"," }}</span> </td>
  </tr>
</table>

<pre>{% for s in swallows %}
[<a href="/admin/flog/swallow/{{ s.id }}/">edit</a>] {{ s.created }} {{ s.title }} {{ s.serving_size }} {{ s.tags }} {{ s.calories }}{% endfor %}
</pre>

<pre>{% for e in entries %}
[<a href="/admin/flog/entry/{{ e.id }}/">edit</a>] {{ e.created }} {{ e.txt }}{% endfor %}
</pre>

<p>
p1 {{ day.p1 }} <span class="p1">{{ day.sparkline_p1|join:"," }}</span><br/>
</p>

{% endblock content %}
